[submodule "amund/third_party/glfw"]
	path = amund/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "amund/third_party/reactphysics3d"]
	path = amund/third_party/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "amund/third_party/glm"]
	path = amund/third_party/glm
	url = https://github.com/g-truc/glm.git
